.a {
  width: 100vw;
  height: 100vh;
  background-image: url("paveiksleliai/unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-align: center;
}
p{
  text-align: center;
  padding: 20px;
  padding-left: 13%;
  padding-right: 13%;
}
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}

/* Make the image responsive */
.container img {
  width: 100vw;
  height: 100vh;
  background-image: url("paveiksleliai/unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: Transparent;
  color: #db879e;
  font-size: 35px;
  padding: 15px 45px;
  overflow: hidden;
  cursor: pointer;
  border-color: #db879e;;
}

.container .btn:hover {
  background-color: inherit;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.row {
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
}

.column {
  flex: 33.33%;
  padding: 5px;

}
